
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    position: absolute;
    left:25%;
    width: 50%;
    background-color:rgba(255,205,162);
    border-color: rgba(86,73,70);
    border-style: solid;
    border-radius: 10px;


}
.Container{
    position: absolute;
    left:25%;
    width: 50%;
    align-items: center; 
    background-color: rgba(20, 153, 0 ,0.7);
    margin-top: 10%;
    display: flex;
    border-style: solid;
    border-color: rgb(255, 145, 0);
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35%;
}
input {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(96, 102, 10);
    font-size: medium;
    background-color: rgba(147, 149, 165, 0.507);
    color: aliceblue;
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

button{
    
    margin-top: 20px;
    background-color: rgb(253, 186, 99);
    border-color: red;
    width: 40%;
    font-weight: bold;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: rgb(240, 221, 115)
}
.btn{
    height: 50px;
    font-size: small;
    font-weight: 700;
    transition: all 0.3s;
}
.btn:hover{
    transform: translateY(-10px) ;
    background-color: rgb(240, 221, 115)
}